.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  margin: 5px;
}

.App-important {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 10px;
}

::ng-deep {
  body {
    background-color: #282c34;
    color: white;
  }

  button {
    font-size: calc(10px + 2vmin);
    font-weight: 600;
  }
}
